body {
  font-family: "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-family: "Droid Serif", Georgia, "Times New Roman", Times, serif;
}
p,
li,
a,
label,
input,
button,
select,
textarea {
  font-family: "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
p,
li,
label {
  color: #555;
}
blockquote p {
  font-family: "Droid Serif", Georgia, "Times New Roman", Times, serif;
  font-style: italic;
}
#nav .navbar-inner {
  background-color: #F6F6F6;
  background-image: none;
  box-shadow: none;
  border-bottom: 4px solid #E6E6E6;
  padding: 4px 0px;
	background-color: #2c2c2c;
  background-image: -moz-linear-gradient(top, #F6F6F6, #F6F6F6);
  background-image: -ms-linear-gradient(top, #F6F6F6, #F6F6F6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#F6F6F6), to(#F6F6F6));
  background-image: -webkit-linear-gradient(top, #F6F6F6, #F6F6F6);
  background-image: -o-linear-gradient(top, #F6F6F6, #F6F6F6);
  background-image: linear-gradient(top, #F6F6F6, #F6F6F6);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F6F6F6', endColorstr='#F6F6F6', GradientType=0);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 0px 0px rgba(0,0,0,.25), inset 0 0px 0 rgba(0,0,0,.1);
  -moz-box-shadow: 0 0px 0px rgba(0,0,0,.25), inset 0 0px 0 rgba(0,0,0,.1);
  box-shadow: 0 0px 0px rgba(0,0,0,.25), inset 0 0px 0 rgba(0,0,0,.1);
}
#nav .nav li a {
  text-shadow: none;
}
#nav .nav li a:hover {
  color: #333;
}
#nav .nav li.dropdown .dropdown-toggle .caret,
#nav .nav li.dropdown.open .caret {
  border-bottom-color: #555;
  border-top-color: #555;
}
#nav .dropdown-menu a:hover {
  color: white !important;
}
#nav .btn-navbar {
  background-color: #DDD;
  background-image: none;
  box-shadow: none;
}
#nav .brand {
  font-family: "Oleo Script", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#nav .nav .active > a,
#nav .nav .active > a:hover {
  background-color: #f6f6f6 !important;
  color: #555 !important;
}
.stripe-top {
  background-image: url("../../../../subtlepatterns.com/patterns/arches.png");
  border-bottom: 1px solid #EEE;
}
.stripe-color {
  background-image: url(../images/bgnoise.gif);
  border-top: 1px solid #EEE;
  border-bottom: 1px solid #EEE;
}
.dropdown-menu li > a:hover,
.dropdown-menu .active > a,
.dropdown-menu .active > a:hover {
  background-color: #333;
}
.well {
  box-shadow: none;
}
.nav-pills > .active > a,
.nav-pills > .active > a:hover,
.nav-list > .active > a,
.nav-list > .active > a:hover {
  background-color: #333;
}
footer h6 {
  margin-bottom: 8px;
}
footer p,
footer address {
  color: #555 !important;
}
footer p.sub {
  color: #888 !important;
  font-size: 0.9em;
  position: relative;
  bottom: 5px;
}
footer div.divider {
  border-bottom: 1px solid #333;
  border-top: 1px solid #111;
}
footer .stripe-color {
  border-top: 4px solid #E6E6E6;
}
.btn {
  border-color: #acacac !important;
  background: #dddddd;
  background: -webkit-gradient(linear, left top, left bottom, from(#efefef), to(#dddddd));
  background: -webkit-linear-gradient(top, #efefef, #dddddd);
  background: -moz-linear-gradient(top, #efefef, #dddddd);
  background: -ms-linear-gradient(top, #efefef, #dddddd);
  background: -o-linear-gradient(top, #efefef, #dddddd);
}
.btn:hover {
  background: #eeeeee;
  background: -webkit-gradient(linear, left top, left bottom, from(#fcfcfc), to(#eeeeee));
  background: -webkit-linear-gradient(top, #fcfcfc, #eeeeee);
  background: -moz-linear-gradient(top, #fcfcfc, #eeeeee);
  background: -ms-linear-gradient(top, #fcfcfc, #eeeeee);
  background: -o-linear-gradient(top, #fcfcfc, #eeeeee);
}
.btn.disabled {
  background-color: #dddddd;
}
.btn[disabled] {
  background-color: #dddddd;
}
.btn.dropdown-toggle {
  background-color: #dddddd !important;
}
.btn-primary {
  border-color: #0d507a !important;
  background: #0c6fb1;
  background: -webkit-gradient(linear, left top, left bottom, from(#14a7cf), to(#0c6fb1));
  background: -webkit-linear-gradient(top, #14a7cf, #0c6fb1);
  background: -moz-linear-gradient(top, #14a7cf, #0c6fb1);
  background: -ms-linear-gradient(top, #14a7cf, #0c6fb1);
  background: -o-linear-gradient(top, #14a7cf, #0c6fb1);
}
.btn-primary:hover {
  background: #1188d6;
  background: -webkit-gradient(linear, left top, left bottom, from(#1bb6e6), to(#1188d6));
  background: -webkit-linear-gradient(top, #1bb6e6, #1188d6);
  background: -moz-linear-gradient(top, #1bb6e6, #1188d6);
  background: -ms-linear-gradient(top, #1bb6e6, #1188d6);
  background: -o-linear-gradient(top, #1bb6e6, #1188d6);
}
.btn-primary.disabled {
  background-color: #0c6fb1;
}
.btn-primary[disabled] {
  background-color: #0c6fb1;
}
.btn-primary.dropdown-toggle {
  background-color: #0c6fb1 !important;
}
.btn-info {
  border-color: #2681a2 !important;
  background: #2caada;
  background: -webkit-gradient(linear, left top, left bottom, from(#46cae8), to(#2caada));
  background: -webkit-linear-gradient(top, #46cae8, #2caada);
  background: -moz-linear-gradient(top, #46cae8, #2caada);
  background: -ms-linear-gradient(top, #46cae8, #2caada);
  background: -o-linear-gradient(top, #46cae8, #2caada);
}
.btn-info:hover {
  background: #32bcef;
  background: -webkit-gradient(linear, left top, left bottom, from(#50d6f5), to(#32bcef));
  background: -webkit-linear-gradient(top, #50d6f5, #32bcef);
  background: -moz-linear-gradient(top, #50d6f5, #32bcef);
  background: -ms-linear-gradient(top, #50d6f5, #32bcef);
  background: -o-linear-gradient(top, #50d6f5, #32bcef);
}
.btn-info.disabled {
  background-color: #2caada;
}
.btn-info[disabled] {
  background-color: #2caada;
}
.btn-info.dropdown-toggle {
  background-color: #2caada !important;
}
.btn-success {
  border-color: #69963b !important;
  background: #7fc33c;
  background: -webkit-gradient(linear, left top, left bottom, from(#b1d960), to(#7fc33c));
  background: -webkit-linear-gradient(top, #b1d960, #7fc33c);
  background: -moz-linear-gradient(top, #b1d960, #7fc33c);
  background: -ms-linear-gradient(top, #b1d960, #7fc33c);
  background: -o-linear-gradient(top, #b1d960, #7fc33c);
}
.btn-success:hover {
  background: #8dd242;
  background: -webkit-gradient(linear, left top, left bottom, from(#b9e46a), to(#8dd242));
  background: -webkit-linear-gradient(top, #b9e46a, #8dd242);
  background: -moz-linear-gradient(top, #b9e46a, #8dd242);
  background: -ms-linear-gradient(top, #b9e46a, #8dd242);
  background: -o-linear-gradient(top, #b9e46a, #8dd242);
}
.btn-success.disabled {
  background-color: #7fc33c;
}
.btn-success[disabled] {
  background-color: #7fc33c;
}
.btn-success.dropdown-toggle {
  background-color: #7fc33c !important;
}
.btn-warning {
  border-color: #dc9014 !important;
  background: #ffb031;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffce4f), to(#ffb031));
  background: -webkit-linear-gradient(top, #ffce4f, #ffb031);
  background: -moz-linear-gradient(top, #ffce4f, #ffb031);
  background: -ms-linear-gradient(top, #ffce4f, #ffb031);
  background: -o-linear-gradient(top, #ffce4f, #ffb031);
}
.btn-warning:hover {
  background: #ffc531;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffdb4f), to(#ffc531));
  background: -webkit-linear-gradient(top, #ffdb4f, #ffc531);
  background: -moz-linear-gradient(top, #ffdb4f, #ffc531);
  background: -ms-linear-gradient(top, #ffdb4f, #ffc531);
  background: -o-linear-gradient(top, #ffdb4f, #ffc531);
}
.btn-warning.disabled {
  background-color: #ffb031;
}
.btn-warning[disabled] {
  background-color: #ffb031;
}
.btn-warning.dropdown-toggle {
  background-color: #ffb031 !important;
}
.btn-danger {
  border-color: #ab4b44 !important;
  background: #e3514a;
  background: -webkit-gradient(linear, left top, left bottom, from(#ed8376), to(#e3514a));
  background: -webkit-linear-gradient(top, #ed8376, #e3514a);
  background: -moz-linear-gradient(top, #ed8376, #e3514a);
  background: -ms-linear-gradient(top, #ed8376, #e3514a);
  background: -o-linear-gradient(top, #ed8376, #e3514a);
}
.btn-danger:hover {
  background: #ff5e56;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff988c), to(#ff5e56));
  background: -webkit-linear-gradient(top, #ff988c, #ff5e56);
  background: -moz-linear-gradient(top, #ff988c, #ff5e56);
  background: -ms-linear-gradient(top, #ff988c, #ff5e56);
  background: -o-linear-gradient(top, #ff988c, #ff5e56);
}
.btn-danger.disabled {
  background-color: #e3514a;
}
.btn-danger[disabled] {
  background-color: #e3514a;
}
.btn-danger.dropdown-toggle {
  background-color: #e3514a !important;
}
.btn-inverse {
  border-color: #323232 !important;
  background: #444444;
  background: -webkit-gradient(linear, left top, left bottom, from(#6c6c6c), to(#444444));
  background: -webkit-linear-gradient(top, #6c6c6c, #444444);
  background: -moz-linear-gradient(top, #6c6c6c, #444444);
  background: -ms-linear-gradient(top, #6c6c6c, #444444);
  background: -o-linear-gradient(top, #6c6c6c, #444444);
}
.btn-inverse:hover {
  background: #575757;
  background: -webkit-gradient(linear, left top, left bottom, from(#8d8d8d), to(#575757));
  background: -webkit-linear-gradient(top, #8d8d8d, #575757);
  background: -moz-linear-gradient(top, #8d8d8d, #575757);
  background: -ms-linear-gradient(top, #8d8d8d, #575757);
  background: -o-linear-gradient(top, #8d8d8d, #575757);
}
.btn-inverse.disabled {
  background-color: #444444;
}
.btn-inverse[disabled] {
  background-color: #444444;
}
.btn-inverse.dropdown-toggle {
  background-color: #444444 !important;
}
.btn.disabled,
.btn[disabled] {
  background-image: none;
  box-shadow: none;
  cursor: default;
  opacity: 0.65;
}
/* ========== INDEX ========== */
.landing-message {
  padding: 20px 0px 0px !important;
  font-style: italic;
  text-align: center;
}
img.feature-icon {
  float: right;
}
.hero {
  text-align: center;
}
/* ========== TEAM ========== */
#team-desc {
  position: relative;
  bottom: 20px;
}
/* ========== FEATURES ========== */
.feature blockquote {
  padding: 0px;
  margin: 9px 0px 16px;
  border: none;
}
/* ========== BLOG ========== */
article h2 a {
  font-family: "Droid Serif", Georgia, "Times New Roman", Times, serif;
}
article {
  border-bottom: 1px solid #EEE;
}
#blog-side li {
  list-style-type: none;
}
#blog-side h6 {
  margin-top: 24px;
  margin-bottom: 12px;
}
#blog-side ul {
  margin-left: 0;
}
/* ========== CONTACT ========== */
#contact-details li {
  list-style-type: circle;
}
#contact-details ul {
  margin: 18px 0px 18px 14px;
}
/* ========== PRICING ========== */
.questions h3 {
  margin-top: 18px;
}
.popular {
  background-color: white !important;
  -moz-box-shadow: 0px 1px 6px 3px #ccc;
  -webkit-box-shadow: 0px 1px 6px 3px #ccc;
  box-shadow: 0px 1px 6px 3px #ccc;
  border: 1px solid #AAA !important;
}
#pricing-table .span3 {
  margin-bottom: 10px;
}
#pricing-table li {
  border-top: 1px solid #DDD;
  padding: 5px 0px;
  margin: 0px 10px;
}
#pricing-table h1 {
  color: #dc9014;
}
#pricing-table .popular h1 {
  color: #69963b;
}
#pricing-table div {
  padding-top: 0px;
  background-color: #FFFEDF;
  border: 1px solid #ffce4f;
  margin-right: -2px;
}
#pricing-table h2 {
  padding: 15px 0px 10px;
}
/* ========== PORTFOLIO ========== */
#portfolio h6 {
  text-align: center;
  margin-top: 4px;
  margin-bottom: 12px;
}
#portfolio {
  margin-bottom: 60px;
}